# Scala/SBT specific
.bsp/
.idea/
.metals/
.sbt-launch-dir/
.scalafmt.conf
.vscode/
*.class
*.log
*.pyc
*.swp
*~
/project/project/
/project/target/
/target/
build.sbt.lock
out/
# OS-specific
.DS_Store
Thumbs.db
.blobs/
.bloop/
project/.bloop/
docs/target/
docs/.bloop/
docs/.cache/
docs/.idea/
docs/.vscode/
docs/.bsp/
docs/.metals/
docs/.blobs/
docs/project/target/
docs/out/
project/project/target/
docs/project/project/target/config-classes/$68c9bdab987b41c31598.cache
